<!-- Affichage du message -->
<div>
    <div>
        <h3>Caisse 💰</h3>
        {{ count + " produit(s) en caisse" }}
    </div>
    <button mat-raised-button color="primary" [disabled]="!count">Payer</button>
</div>

<i class="material-icons">arrow_back</i>

<!-- Composant "enfant" -->
<app-chariot></app-chariot>
