:host {
    display: flex;
    height: 300px;
    gap: 30px;

    >div {
        width: 300px;
        height: 100%;
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    i {
        display: flex;
        align-items: center;
    }
}