<p>Exercice 5 - Les pipes</p>

<p>1. {{ dateCreation }}</p>
<p>2. {{ dateCreation }}</p>

<p>3. {{ title }}</p>
<p>4. {{ title }}</p>

<p>5. {{ dateCreation }}</p>

<p>6. {{ 5896954.458875 }}</p>
<p>7. {{ 5896954.458875 }}</p>
<p>8. {{ 0.458875 }}</p>
