<p>Exercice 3 - Two-way binding</p>

<div>
    <app-tennisman position="left" [positionBalle]="positionBalle"></app-tennisman>
    <app-tennisman position="right" [positionBalle]="positionBalle"></app-tennisman>
</div>
