<p>Exercice 7 - Routing</p>

<p>Bien joué, vous m'avez trouvé ! 🥳🎉</p>
<div>
    <button mat-raised-button color="primary">
        Débloquer la good ending
    </button>
    <button mat-raised-button color="primary">
        Débloquer la bad ending
    </button>
</div>


<router-outlet></router-outlet>
