<div>
    <ng-container *ngIf="position === 'right' && positionBalle === position">🥎</ng-container>
    <img [src]="url" />
    <ng-container *ngIf="position === 'left' && positionBalle === position">🥎</ng-container>
</div>
