:host {
    height: 300px;
    width: 300px;
    border: 1px solid black;
    background-color: #738A18;

    >div {
        width: 300px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        img {
            width: 100px;
            height: 100px;
        }
    }
    
}