<mat-toolbar color="primary">
  <span>Exercices Angular - Bases</span>
  <div>
    <button mat-raised-button color="accent" routerLink="/exercice1" routerLinkActive="active-link">
      Exercice 1
    </button>
    <button mat-raised-button color="accent" routerLink="/exercice2" routerLinkActive="active-link">
      Exercice 2
    </button>
    <button mat-raised-button color="accent" routerLink="/exercice3" routerLinkActive="active-link">
      Exercice 3
    </button>
    <button mat-raised-button color="accent" routerLink="/exercice4" routerLinkActive="active-link">
      Exercice 4
    </button>
    <button mat-raised-button color="accent" routerLink="/exercice5" routerLinkActive="active-link">
      Exercice 5
    </button>
    <button mat-raised-button color="accent" routerLink="/exercice6" routerLinkActive="active-link">
      Exercice 6
    </button>
  </div>
</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>
</div>