<!-- Affichage du message -->
<div>
    <h3>Parent 👨</h3>
    <div>
        {{ message }}
    </div>
</div>


<i class="material-icons">arrow_forward</i>

<!-- Composant "enfant" -->
<app-enfant></app-enfant>