<!-- Affichage du message -->
<div>
    <div>
        <h3>Chariot 🛒</h3>
        {{ count + " produit(s) dans le chariot" }}
    </div>
    <button mat-raised-button color="primary" [disabled]="!count">Aller à la caisse</button>
</div>

<i class="material-icons">arrow_back</i>

<!-- Composant "enfant" -->
<app-produit (selectionProduit)="count = count + 1;"></app-produit>