<!-- Affichage du message -->
<div>
    <h3>Grand Parent 👴</h3>
    <div>
        {{ message }}
    </div>
</div>

<i class="material-icons">arrow_forward</i>

<!-- Composant "enfant" -->
<app-parent></app-parent>
