<p>Exercice 4 - Les directives Angular</p>

<div class="exercice">
    <p>1. ngIf</p>
    <button mat-raised-button color="primary" (click)="valeur = !valeur">
        {{ valeur ? "Désactiver" : "Activer" }}
    </button>
    <div class="emoji">🙈</div>
    <div class="emoji">🐵</div>
</div>


<div class="exercice">
    <p>2. ngFor</p>
    <!-- code ici-->
</div>

<div class="exercice">
    <p>3. ngSwitch</p>
    <button mat-raised-button color="primary" (click)="changerCouleur()">
        Changer la couleur
    </button>
    <div>
        <div class="emoji">🔴</div>
        <div class="emoji">🟢</div>
        <div class="emoji">🔵</div>
    </div>
</div>

<div class="exercice">
    <p>4. Property binding des éléments du DOM - Class</p>
    <div class="box">{{ condition }}</div>
</div>

<div class="exercice">
    <p>5. Property binding des éléments du DOM - Style</p>
    <div class="box">{{ condition }}</div>
</div>

<div class="exercice">
    <p>6. Two-way binding : ngModel</p>
    <input type="email" name="email">
    {{ "votre email est : " + email }}
</div>
