:host {
    height: 300px;
    width: 300px;
    border: 1px solid black;

    >div {
        width: 300px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    
}